button,div,input{
  margin: 0;
  padding: 0;
} 
button {
  outline-style: none;
  padding: 0 4px;
  background-color: transparent;
  cursor: pointer;
  border: 0.5px solid black;
  border-radius: 5px;
}
button:hover {
  font-weight: 800;
}
.enqueue-right {
  margin-right: 30px;
}
.queue {
  height: 200px;
  display: flex;
  align-items: flex-end;
  padding: 0;
  list-style: none;
  background-color: #fff;
}
.queue li {
  width: 30px;
  margin-left: 5px;
  float: left;
  background-color: red;
  text-align: center;
  cursor: pointer;
}
